/* SmartPanel Variables */
/* line 4, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan1 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 9, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan2 {
  border-color: #474747;
  border-width: 1px;
  border-style: Solid; }

/* line 14, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan3 {
  border-color: #6B6B6B;
  border-width: 1px;
  border-style: Solid; }

/* line 19, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan4 {
  border-color: #8C8C8C;
  border-width: 1px;
  border-style: Solid; }

/* line 24, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan5 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid; }

/* line 29, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan6 {
  border-color: #B8B8B8;
  border-width: 1px;
  border-style: Solid; }

/* line 34, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan7 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 39, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan8 {
  border-color: #474747;
  border-width: 1px;
  border-style: Solid; }

/* line 44, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan9 {
  border-color: #6B6B6B;
  border-width: 1px;
  border-style: Solid; }

/* line 49, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan10 {
  border-color: #8C8C8C;
  border-width: 1px;
  border-style: Solid; }

/* line 54, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan11 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid; }

/* line 59, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan12 {
  border-color: #B8B8B8;
  border-width: 6px;
  border-style: Solid; }

/* line 64, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan13 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 69, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan14 {
  border-color: #474747;
  border-width: 1px;
  border-style: Solid; }

/* line 74, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan15 {
  border-color: #6B6B6B;
  border-width: 1px;
  border-style: Solid; }

/* line 79, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan16 {
  border-color: #8C8C8C;
  border-width: 1px;
  border-style: Solid; }

/* line 84, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan17 {
  border-color: #A5A5A5;
  border-width: 1px;
  border-style: Solid; }

/* line 89, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan18 {
  border-color: #B8B8B8;
  border-width: 1px;
  border-style: Solid; }

/* line 94, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan19 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 99, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan20 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 104, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan21 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 109, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan22 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 114, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan23 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 119, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.Floorplan24 {
  border-color: #000000;
  border-width: 1px;
  border-style: Solid; }

/* line 124, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.TextBlock {
  border-width: 0px;
  border-style: Solid;
  width: 42px;
  height: 32px; }

/* line 130, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor0 {
  background-color: #FFFFFF; }

/* line 133, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor1 {
  background-color: #F2F2F2; }

/* line 136, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor2 {
  background-color: #D8D8D8; }

/* line 139, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor3 {
  background-color: #BFBFBF; }

/* line 142, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor4 {
  background-color: #A5A5A5; }

/* line 145, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor5 {
  background-color: #7F7F7F; }

/* line 148, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor6 {
  background-color: #545454; }

/* line 151, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor7 {
  background-color: #000000; }

/* line 154, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor8 {
  background-color: #FEFBF3; }

/* line 157, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor9 {
  background-color: #FEF7E4; }

/* line 160, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor10 {
  background-color: #FDF0C9; }

/* line 163, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor11 {
  background-color: #FCE8AF; }

/* line 166, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor12 {
  background-color: #FADA7A; }

/* line 169, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor13 {
  background-color: #BBA35B; }

/* line 172, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor14 {
  background-color: #7D6D3D; }

/* line 175, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor15 {
  background-color: #52421A; }

/* line 178, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor16 {
  background-color: #FEF6EF; }

/* line 181, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor17 {
  background-color: #FDEADA; }

/* line 184, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor18 {
  background-color: #FBD585; }

/* line 187, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor19 {
  background-color: #FAC090; }

/* line 190, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor20 {
  background-color: #F79646; }

/* line 193, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor21 {
  background-color: #B97034; }

/* line 196, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor22 {
  background-color: #7B4B23; }

/* line 199, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor23 {
  background-color: #50240A; }

/* line 202, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor24 {
  background-color: #F9EFEF; }

/* line 205, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor25 {
  background-color: #F2DCDB; }

/* line 208, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor26 {
  background-color: #E5B9B7; }

/* line 211, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor27 {
  background-color: #D99694; }

/* line 214, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor28 {
  background-color: #C0504D; }

/* line 217, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor29 {
  background-color: #903C39; }

/* line 220, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor30 {
  background-color: #866292; }

/* line 223, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor31 {
  background-color: #360D0C; }

/* line 226, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor32 {
  background-color: #1F7FAF; }

/* line 229, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor33 {
  background-color: #E5E0EC; }

/* line 232, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor34 {
  background-color: #CCC1D9; }

/* line 235, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor35 {
  background-color: #B2A2C7; }

/* line 238, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor36 {
  background-color: #8064A2; }

/* line 241, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor37 {
  background-color: #604B79; }

/* line 244, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor38 {
  background-color: #403251; }

/* line 247, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor39 {
  background-color: #1C1329; }

/* line 250, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor40 {
  background-color: #EBEFF3; }

/* line 253, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor41 {
  background-color: #D2DAE5; }

/* line 256, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor42 {
  background-color: #CBB6CB; }

/* line 259, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor43 {
  background-color: #7891B1; }

/* line 262, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor44 {
  background-color: #1F497D; }

/* line 265, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor45 {
  background-color: #17365D; }

/* line 268, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor46 {
  background-color: #0F243E; }

/* line 271, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor47 {
  background-color: #020B1A; }

/* line 274, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor48 {
  background-color: #EFF3F9; }

/* line 277, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor49 {
  background-color: #DBE5F1; }

/* line 280, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor50 {
  background-color: #B8CCE4; }

/* line 283, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor51 {
  background-color: #9EBCD3; }

/* line 286, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor52 {
  background-color: #4F81BD; }

/* line 289, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor53 {
  background-color: #3B608D; }

/* line 292, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor54 {
  background-color: #27405E; }

/* line 295, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor55 {
  background-color: #0C1C34; }

/* line 298, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor56 {
  background-color: #EFF7FA; }

/* line 301, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor57 {
  background-color: #DBEEF3; }

/* line 304, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor58 {
  background-color: #B7DDE8; }

/* line 307, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor59 {
  background-color: #93CDDC; }

/* line 310, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor60 {
  background-color: #4BACC6; }

/* line 313, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor61 {
  background-color: #388194; }

/* line 316, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor62 {
  background-color: #255663; }

/* line 319, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor63 {
  background-color: #0B2D38; }

/* line 322, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor64 {
  background-color: #F6F9F0; }

/* line 325, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor65 {
  background-color: #EBF1DD; }

/* line 328, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor66 {
  background-color: #D7E3BC; }

/* line 331, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor67 {
  background-color: #C3D69B; }

/* line 334, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor68 {
  background-color: #EDFD99; }

/* line 337, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor69 {
  background-color: #748C42; }

/* line 340, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor70 {
  background-color: #4D5D2C; }

/* line 343, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor71 {
  background-color: #26330F; }

/* line 346, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor72 {
  background-color: #FBFBF3; }

/* line 349, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor73 {
  background-color: #F6F7E4; }

/* line 352, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor74 {
  background-color: #EDF0C9; }

/* line 355, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor75 {
  background-color: #E4E8AF; }

/* line 358, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor76 {
  background-color: #F2F2B7; }

/* line 361, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor77 {
  background-color: #9DA35B; }

/* line 364, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor78 {
  background-color: #696D3D; }

/* line 367, /Users/jplatt/Documents/TFS/Editor/styles/ThemeStyles/scss/Floorplan.scss */
.themeColor79 {
  background-color: #3E421A; }
